/* ########################   HOME  ################################### */
.offer {
  background-color: black;
  color: white;
  padding: 7px;
  text-align: center;
  font-family: "jost", sans-serif;
  letter-spacing: 0.3px;
}
.offer span {
  font-family: "jost", sans-serif;
  letter-spacing: 0.2px;
  color: rgb(230, 166, 49);
  text-decoration: underline;
}
.offer span:hover {
  letter-spacing: 1.5px;
  cursor: pointer;
}

/* #########################   Sections  ########################### */

#sections {
  width: 100vw;
  padding: 25px 6vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#sections .con {
  width: 400px;
  height: 350px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  padding: 30px 10px;
  overflow: hidden;
  cursor: pointer;
}
#sections .con h3 {
  font-family: "jost", sans-serif;
  font-weight: bold;
  color: white;
  bottom: 0;
  letter-spacing: 0.8px;
  transform: translateY(20px);
}
#sections .con button {
  font-family: "jost", sans-serif;
  font-weight: bold;
  color: rgb(230, 166, 49);
  bottom: 0;
  letter-spacing: 2px;
  background-color: transparent;
  border: none;
  border-bottom: 2px solid rgb(230, 166, 49);
  transform: translateY(60px);
}
#sections .con:hover button {
  transform: translateY(-10px);
}
#sections .con:hover h3 {
  transform: translateY(-10px);
}

@media screen and (max-width: 850px) {
  #sections {
    width: 100vw;
    padding: 25px 6vw;
    display: flex;
    justify-content: center;
    align-items: center;
    row-gap: 20px;
    flex-wrap: wrap;
  }
  #sections .con {
    width: 90vw;
    height: 350px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    padding: 30px 10px;
    overflow: hidden;
    cursor: pointer;
  }
}

/* ###########################   Login And Register  ####################### */

#form {
  width: 700px;
  background-color: white;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  padding: 50px 50px 150px 50px;
  margin: 30px auto;
}
#form h3 {
  font-family: "jost", sans-serif;
  text-align: center;
  font-weight: 700;
  font-size: 30px;
  color: rgb(38, 45, 56);
}
#form p {
  font-family: "jost", sans-serif;
  text-align: center;
  margin-top: 5px;
}
#form form {
  margin-top: 30px;
}
#form form label {
  font-family: "jost";
  color: rgb(50, 50, 50);
  font-weight: 600;
  font-size: 17px;
  margin-top: 25px;
  letter-spacing: 0.3px;
}
#form form input {
  padding: 10px;
  font-family: "jost";
  font-size: 16px;
  border: 1px solid rgb(206, 200, 200);
  width: 100%;
  margin-top: 10px;
  outline: none;
}
#form form p {
  text-align: left;
  margin-top: 25px;
  font-size: 17px;
  color: rgb(75, 75, 75);
}
#form form p span {
  color: orangered;
  font-family: "jost";
  letter-spacing: 0.5px;
  cursor: pointer;
}
#form form button {
  background-color: #ff2020;
  border: none;
  padding: 12px 25px;
  font-family: "jost";
  font-weight: 600;
  font-size: 16px;
  letter-spacing: 1.5px;
  color: white;
  margin-top: 20px;
  float: right;
}

/* #######################   Products Container   ####################### */
#mens_fashion {
  padding: 20px 6vw;
  background-color: rgb(244, 247, 250);
}
#mens_fashion .header {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
#mens_fashion .header h2 {
  font-family: "Roboto", sans-serif;
  letter-spacing: 0.5px;
  font-size: 30px;
  color: rgb(0, 0, 0);
  margin-top: 10px;
  font-weight: bold;
}
#mens_fashion .header p {
  font-family: "Rubik", sans-serif;
  font-size: 16px;
  color: rgb(143, 143, 143);
  margin-bottom: 0;
}
#mens_fashion .header .filter {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 360px;
}
#mens_fashion .header select {
  width: 120px;
}
#mens_fashion .header .filter button {
  padding: 6px 15px;
  text-align: center;
  background-color: white;
  border: none;
  border-radius: 3px;
  font-family: "Roboto", sans-serif;
  color: rgb(92, 91, 91);
  box-shadow: rgba(57, 56, 56, 0) 0px 5px 20px 0px,
    rgba(53, 53, 53, 0.153) 0px 0px 0px 1px;
  display: flex;
  align-items: center;
}
#mens_fashion .header .filter button:hover {
  background-color: rgb(242, 241, 241);
  color: black;
}
#shimmerUI_container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  row-gap: 50px;
}

@media screen and (max-width: 640px) {
  #mens_fashion .header {
    flex-direction: column;
    align-items: flex-start;
    padding: 0 10px;
    position: sticky;
    top: -18px;
    z-index: 9;
    background-color: white;
    padding: 5px 0;
  }
  #mens_fashion .header .filter {
    display: flex;
    flex-direction: row;
    align-self: center;
    margin-top: 10px;
  }
}
#mens_fashion #products_con {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  column-gap: 25px;
}
@media screen and (max-width: 700px) {
  #mens_fashion {
    padding: 20px 0vw;
  }
}

/* ######################    Product Details Page   ########################## */

#productDetails {
  padding: 40px 5vw;
  font-family: "Roboto", sans-serif;
}
#productDetails .product_container {
  display: flex;
  justify-content: flex-start;
  box-shadow: rgba(95, 95, 95, 0.2) 0px 0px 1px 1px;
  border-radius: 5px;
  padding: 0;
  width: 100%;
}
#productDetails .image {
  width: 30vw;
}
#productDetails .image img {
  width: 100%;
}
#productDetails .details {
  padding: 50px 0 0 100px;
  width: 50vw;
}
#productDetails .name {
  font-size: 22px;
  font-family: "poppins", sans-serif;
  margin-bottom: 10px;
  font-weight: bolder;
}
#productDetails .price {
  font-size: 27px;
  color: rgb(58, 58, 58);
  font-family: "jost", sans-serif;
  font-weight: bold;
}
#productDetails .cate {
  color: rgb(98, 98, 98);
  font-size: 17px;
  font-family: "jost", sans-serif;
  letter-spacing: 0.5px;
  margin-bottom: 5px;
}
#productDetails .review {
  display: flex;
  justify-content: flex-start;
}
#productDetails .review_text {
  color: royalblue;
  font-family: "jost", sans-serif;
  margin-left: 20px;
  font-size: 17px;
}
#productDetails .desc {
  color: rgb(102, 104, 107);
  font-family: "Rubik", sans-serif;
  font-size: 16px;
  word-spacing: 2px;
}
#productDetails .colors p {
  font-size: 16px;
  color: rgb(36, 35, 35);
  font-family: "poppins", sans-serif;
  margin-bottom: 10px;
}
#productDetails .color {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  padding: 0;
  margin: 0 5px;
}
#productDetails .buttons {
  display: flex;
  align-items: center;
  flex-direction: row;
}
#productDetails button {
  background-color: rgb(76, 113, 235);
  font-family: "poppins", sans-serif;
  font-size: 16px;
  padding: 10px 25px;
  width: 250px;
  letter-spacing: 0.3px;
  border: none;
  border-radius: 5px;
  color: white;
  margin-bottom: 20px;
}
#productDetails .addtobag {
  background-color: rgb(226, 233, 239);
  color: royalblue;
  margin-left: 10px;
}
#productDetails button:hover {
  background-color: rgb(58, 104, 204);
}
#productDetails .addtobag:hover {
  background-color: rgb(211, 220, 228);
  color: royalblue;
}

@media screen and (max-width: 1230px) {
  #productDetails .details {
    padding: 50px 0 0 100px;
    width: 60vw;
  }
}
@media screen and (max-width: 1030px) {
  #productDetails .details {
    padding: 0px 0 0 50px;
    width: 60vw;
  }
}

@media screen and (max-width: 1030px) {
  #productDetails {
    padding: 40px 3vw;
  }
  #productDetails .image {
    width: 35vw;
  }
}

@media screen and (max-width: 800px) {
  #productDetails {
    padding: 0px 3vw;
  }
  #productDetails .product_container {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  #productDetails .image {
    width: 50vw;
  }
  #productDetails .details {
    padding: 20px 50px;
    width: 100vw;
  }
}
@media screen and (max-width: 500px) {
  #productDetails {
    padding: 0;
  }
  #productDetails .image {
    width: 80vw;
    padding-top: 10px;
  }
  #productDetails .details {
    padding: 20px 15px;
    width: 100vw;
  }
}

#skeleton{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
#skeleton .img{
  background-color: rgb(228, 228, 228);
  height: 500px;
  width: 450px;
}
#skeleton #text{
  height: 500px;
  padding: 30px 0 0 100px;
  width: 50vw;
}
#skeleton #text .line{
  background-color: rgb(228, 228, 228);
  height: 20px;
  margin-top: 20px;
  width: 100%;
}


/* #########################     USER Profile     ##############################3 */

#userProfile{
  min-height: 100vh;
  width: 100%;
  padding: 30px 5vw;
  background-color: rgb(243, 247, 250);
}
#userProfile h1{
  font-size: 30px;
  font-family: 'roboto';
  font-weight: 700;
}
#userProfile .container{
  width: 700px;
  margin: 20px auto;
  background-color: white;
  border: 1px solid gainsboro;
  border-radius: 20px;
  padding-bottom: 20px;
}
#userProfile .details{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: 20px 25px;
  border-bottom: 1px solid rgb(206, 200, 200);
}
#userProfile .details .img{
  width: 70px;
  height: 70px;
  background-color: gainsboro;
  border-radius: 50%;
  text-align: center;
  padding-top: 17px;
  font-size: 25px;
  font-weight: 700;
}
#userProfile .details h4{
  font-size: 20px;
  margin-left: 20px;
  font-family: 'poppins';
  font-weight: 600;
  margin-bottom: 5px;
  margin-top: 10px;
  letter-spacing: 0.3px;
}
#userProfile .details p{
  font-size: 16px;
  margin-left: 20px;
  font-family: 'poppins';
  color: rgb(102, 104, 107);
}
#userProfile .address{
  padding: 20px 25px;
  font-family: 'poppins';
  border-bottom: 1px solid rgb(206, 200, 200);
}
#userProfile .address h4{
  font-size: 19px;
  font-family: 'rubik';
  font-weight: 600;
  margin-top: 10px;
  letter-spacing: 0.3px;
}
#userProfile .address p{
  font-size: 16px;
  font-family: 'poppins';
  color: rgb(102, 104, 107);
  margin-top: 10px;
  line-height: 28px;
}
#userProfile .address p span{
  font-weight: 600;
  color: #ff2020;
  cursor: pointer;
  font-family: 'poppins';
  text-decoration: underline;
  letter-spacing: 0.3px;
}

#userProfile .address button{
  padding: 8px 16px;
  background-color: rgb(21, 23, 24);
  color: aliceblue;
  border-radius: 5px;
  font-size: 15px;
  font-weight: 500;
  letter-spacing: 0.3px;
  border: none;
}
#userProfile .logout{
  width: 100%;
  padding: 20px 25px;
  font-family: 'poppins';
  font-weight: 600;
  color: #ff2020;
  font-size: 20px;
  border: 1px solid rgb(206, 200, 200);
  margin-top: 20px;
  border-radius: 20px;
  cursor: pointer;
}
#userProfile .logout:hover{
  background-color: rgb(246, 237, 225);
}

#addrform{
  width: 100vw;
  height: 100vh;
  background-color: rgba(110, 110, 110, 0.411);
  position: fixed;
  top: 0;
  display: flex;align-items: center;
  justify-content: center;
  z-index: 10;
}
#addrform h2{
  font-weight: 700;
  font-size: 23px;
  letter-spacing: 0.5px;
  font-family: 'poppins';
}
#addrform .container{
  width: 700px;
  padding: 30px 25px;
  border-radius: 0px;
  border: 1px solid gainsboro;
  background-color: white;
}
#addrform .container input{
  padding: 10px;
  font-family: "jost";
  font-size: 16px;
  border: 1px solid rgb(206, 200, 200);
  width: 100%;
  margin-top: 10px;
  outline: none;
  margin-top: 20px;
}
#addrform .container button{
  background-color: rgb(0, 0, 0);
  border: none;
  padding: 12px 25px;
  font-family: "jost";
  font-size: 16px;
  letter-spacing: 1.5px;
  color: white;
  margin-top: 20px;
  float: right;
}
#addrform .container button:hover{
  background-color: rgb(49, 50, 50);
}
#addrform .container .close{
  background-color: rgb(217, 217, 217);
  color: rgb(38, 39, 40);
  margin-right: 20px;
  font-weight: 600;
}
#addrform .container .close:hover{
  background-color: rgb(234, 234, 234);
}